.logo {
    width: 140px;
    height: 70px;
    object-fit: contain;
    background-size: 100%;
    position:fixed; 
    left:25%;
}


.header h1{
    font-size: 35px;
    font-style:italic;
    padding: 0px;
    margin:0px;
  }

.subheader{
    margin-top: -20px;
    padding:0px;
    font-size: 16px;
    margin-left: 40px;

}
  