input {
    height:100px;
    font-size:14pt;
    width: 85%;
    text-align: center;
    font: inherit;
    font-size: 30px;
    color:#333333;
    border-radius: 34px;
    border: 1px solid transparent;
    background-color: #eeeeee;
}

button {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border-radius: 14px;
    background-color: #d0ffdc;
    width: 60%;
    margin-top:15px;
    text-align: center;
    border: 1px solid transparent;
    cursor: pointer;
    height: 60px;
    color:#0F0C08;
    font-weight: bolder;
    font-size: 22px;

  }

button:focus {
    outline: none;
  }

button:hover,
button:active {
    background: #ac0e77;
    border-color: #ac0e77;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
    color:white
  }
  
.class{
    font-family: inherit;
}

  
